{% extends 'base.html' %}

{% block title %}

|About Page
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/css/about.css">
<div class="aboutcontainer">
    <div class="about">
        <div>
            This is the output {{khan}}
        </div>
        <div class="img">
            <img src="/static/img/about.png" alt="" width="30%">
        </div>
        <div class="text">
            <h1>This is my about page</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus distinctio quibusdam placeat corrupti nesciunt deleniti inventore? Corporis repudiandae ipsa eos commodi et adipisci eius porro optio, iure voluptate. Ullam unde distinctio beatae facilis at placeat, et vero est cupiditate explicabo quam accusantium dolores quas hic officiis voluptatibus culpa quis eligendi harum, voluptas a assumenda ex architecto ratione? Impedit eaque nisi qui in praesentium, assumenda quidem tenetur quas, omnis quod hic amet corporis quis voluptatibus deserunt aliquid, optio soluta adipisci sequi illum aspernatur? Est delectus exercitationem consequatur, ducimus assumenda, tempore animi deleniti expedita quam eos ipsa saepe recusandae harum! Vel.</p>
        </div>
    </div>
</div>




{% endblock body %}








