
{% extends 'base.html' %}
{% block title %}
|Home
{% endblock title %}


{% block body %}
<link rel="stylesheet" href="/static/css/home.css">

<div class="homecontainer">
    <div class="maincontainer">
        <div class="container2">
            
            <div class="img">
                <img src="/static/img/1.jpg" alt="Image">
            </div>
            <div class="text">
                <h1>Wellcom To Project</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ullam officia, totam, laudantium quis quidem neque, reiciendis ex hic nulla accusantium exercitationem sequi!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam reiciendis nemo neque cum, aut esse eum sed? Veritatis, culpa consectetur necessitatibus laborum voluptas saepe officia magni reiciendis! Aut, enim omnis.</p>
            </div>
        </div>
    </div>
   
</div>

<section>
    <div class="section2">
        <div class="mainsectioncontainer">
            <div class="sectioncontainer">
                <div class="text">
                    <h1>This is about home page</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa accusamus nulla atque vel deleniti! Beatae, est, voluptas aspernatur sequi blanditiis numquam maxime minus et maiores hic iusto facilis. Distinctio, repudiandae!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rerum aut officiis recusandae nam dolorem, aliquam quidem similique eum est mollitia vitae neque suscipit placeat consequatur quae magnam ducimus soluta!</p>
                </div>
                <div class="img">
                    <img src="/static/img/2.jpg" alt="" width="20%">
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock body %}




